
<div class="container">

    <div class="row">
        <h1 class="title">Tester Matching</h1>
    </div>
    <div class="row search-bar">
        <div>
            <div id="country" class="col-lg-4 col-md-4 col-sm-4">
                <select id="countries" data-placeholder="Select Country" multiple="multiple">
                    <option value="1">US</option>
                    <option value="2">GB</option>
                    <option value="3">JP</option>
                </select>
            </div>
            <div id="device" class="col-lg-4 col-md-4 col-sm-4">
                <select id="devices" data-placeholder="Select Device" multiple="multiple">
                    <option value="1">iPhone 4</option>
                    <option value="2">iPhone 4S</option>
                    <option value="3">iPhone 5</option>
                    <option value="4">Galaxy S3</option>
                    <option value="5">Galaxy S4</option>
                    <option value="6">Nexus 4</option>
                    <option value="7">Droid Razor</option>
                    <option value="8">Droid DNA</option>
                    <option value="9">HTC One</option>
                    <option value="10">iPhone 3</option>
                </select>
            </div>
            <div id="search" class="col-lg-4 col-md-4 col-sm-4">
                <input type="button" class="btn btn-primary" ng-click="search()" value="Search" />
            </div>
        </div>
    </div>

    <div class="row error-msg" ng-show="errormsg">
        <p>Please select countries, devices from dropdown and then press search</p>
    </div>

    <div class="table-responsive">
        <table class="table table-striped table-borderd" ng-show="validSearch">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tester Name</th>
                    <th>Devices Worked</th>
                    <th>Total Bugs Found</th>
                </tr>
            </thead>
            <tbody class="table-body" ng-repeat="tester in testers" ng-switch on="isSelected(tester)" ng-click="getTesterDetail(tester,$index)">
                <tr ng-class="{sel:selIdx==$index}">
                    <td>{{$index + 1}}</td>
                    <td>{{tester.firstName}}</td>
                    <td>{{tester.count}}</td>
                    <td>{{tester.bugs}}</td>
                </tr>
                <tr ng-switch-when="true" ng-repeat="item in items">
                    <td>{{item.prop || " "}}</td>
                    <td>{{item.prob || " "}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.bugs}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>